#contacto{  
    width: 100%;
    height: 450px;
    background-color: rgb(100, 180, 180);
}

#bienvenida{
    width: 100%;
    height: 450px;
    background-color: rgb(76, 76, 177);
    margin-bottom: 10px;
    margin:10px 20px 15px ;
}

#detalle{   
    width: 100%;
    height: 450px;
    background-color: rgb(168, 84, 84);
    margin-top: 50%;
}

a{
    background-color: chocolate;
    color: rgb(0, 0, 0);
    font-family: Impact;    
    border-radius: 50px;
}
.imagen {
        width: 80%;
        height: 800px;
        border: 5px solid powderblue;
        background-color: rgb(255, 0, 0);
}

img{
        height: auto;
        width: 425px;
}

div{
    display:inline-block;
    height: 425px;
}

#search-form {
    display: flex; /* Para organizar los elementos horizontalmente */
    align-items: center; /* Para alinear los elementos verticalmente */
  }
  
  #search-input {
    padding: 10px;
    border: 1px solid #ccc; /* Borde suave */
    border-radius: 5px; /* Esquinas redondeadas */
    margin-right: 10px; /* Espacio entre el input y el botón */
    width: 300px; /* Ancho fijo */
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff; /* Azul */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Cambia el cursor a una mano cuando se acerca */
  }
  
  button:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
  }